.parent{
    display: grid;
    gap: 10px;
    grid-template-rows: 1fr 2fr 1fr 1fr;
    grid-template-areas: "title title"
                         "main layout"
                         "main sidebar"
                         "footer footer";
}

.parent > .content-1{
    background-color: aqua;
    grid-area: title;
}

.parent > .content-2{
    background-color:rgb(134, 104, 194);
    grid-area: main;
}

.parent > .content-3{
    background-color:rgb(27, 22, 122);
    grid-area: layout;
}

.parent > .content-4{
    background-color:rgb(139, 187, 218);
    grid-area: sidebar;
}

.parent > .content-5{
    background-color:rgb(240, 221, 181);
    grid-area: footer;
}