#primero {
    height: 50vh;
    background-image: url(//1.bp.blogspot.com/-0kt6ekXtQrA/VQzbzppVR-I/AAAAAAACi6U/-8DXV8UxDKs/s400/Atardecer%2Ben%2Bla%2Bplaya.jpg);
    background-position: center bottom; /*eje:x eje:y*/
    background-attachment: fixed;
    /*Esto es para que la imagen al hacer scroll se quede fija y no se mueva*/
    border: 5px solid seagreen;
    border-bottom: 15px solid red;
    padding: 100px 25px 50px 0px;
    /* % ES SIEMPRE CON RESPECTO AL PADRE*/
    display: none; /*Con esta propiedad desaparece la caja*/
}

/*.empty {
    height: 2000px;
    background-color: red;
    width: 50%;

}
h1 {
    color: white;
}*/
body{
    margin: 0;
}

/*Tipos de display: none, inline, block, inline-block*/
/*Vamos a seleccionar: selector por atributo [attr=value], 
^ esta expresión significa que empieza por..*/
/*[class^="box"] {
    background-color: steelblue;
}*/

.box-0 {
    display: none;
}

.box-5, /*Selecciona el div con clase box-5*/
.box-6, /*Selecciona el div con clase box-6*/
.box-5 p, /*Selecciona el párrafo con clase box-5*/
.box-6 p {
    display: inline;
}

.box-3, 
.box-4, 
.box-3 p, 
.box-4 p {

    display: inline-block;
}

/*.parent {
    background-color: teal;
    height: 200px;
    padding-top: 50px;
    margin-left: 150px;
    margin-right: 150px;
    /*para darle un margin o un padding casi siempre 
    se lo damos al contenedor padre y los hijos se adaptaran 
    a ese contenedor
} 

.child {
    background-color: tomato;
    height: 50px;
    margin-top: 50px;
}
*/
/*Centrar horizontalmente (eje X)*/

.x-centered {
    margin: auto; /*Se genera automáticamente los margenes, siempre horizontal*/
}

/*Posición relativa*/

.rectangle {
    background-color: teal;
    height: 50px;
    width: 25%;
}

.pos-relativa {
    position: relative;
    left: 100px;
    top: -50px;
    z-index: -1;
    /*Posición relativa desde donde se encuentra el elemento*/
}

/*Posición Absoluta*/
.pos-absolute-parent {
    height: 300px;
    border: 15px solid tomato;
    position: relative;/*Para que el hijo se mueva dentro del padre*/ 
}
.pos-absolute-child {
    height: 50px;
    width: 50px;
    background-color: #333;

    position: absolute; /*posición  dependiente al 
    documento. Si queremos que sea relativa al padre, 
    en el mismo padre se pone position: relative; y 
    nunca saldra del padre*/
    top: 50%;
    left: 50%;
    margin-left: -25px;/*Esta centrado horizontalmente*/
    margin-top: -25px; /*Esta centrado verticalmente*/
}

/*Posición fija/fixed*/
.pos-fixed {
    background-color: #333;
    padding: 20px 30px;/*se aplica a todo, porque es paddign solo*/

    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1;/*el botón iría por encima del sticky,
    (la barra que tenemos azul)*/
}
.pos-fixed a {
    color: white;
    text-decoration: none;
}

/*Posición sticky*/
.pos-sticky {
    background-color: steelblue;
    padding: 15px 25px;

    position: sticky;/*poniendo la posición sticky
    y la posción donde queremos que este, se podrá fija
    cuando llegue a la posicón*/
    top: 0;

}

.pos-sticky a{
    color: white;
    text-decoration: none;
}
/*Posicionamiento flotante/float: div dentro de otros div*/
.pos-float-parent{
    border: 5px solid royalblue;
    color: white;
    font-size: 30px;
    overflow: hidden;
    /*nos va a respetar siempre el contenido
    da igual su naturaleza, ya sea, si los hijos son flotantes
    o son fijos por ello obligamos al padre a respetar
    a los flotantes con la propiedad overflow: hidden
    Esto es por si no hay mas elementos eje:caja4 con clear: both;
    en vez de, que NO respete a los flotantes con esa propiedad sí*/
}

.pos-float-child-1{
    background-color: brown;
    height: 100px;
    width: 33.3%;
    float: left;
}

.pos-float-child-2{
    background-color: darkblue;
    height: 100px;
    width: 33.3%;
    float: right;
}

.pos-float-child-3{
    background-color:darkorange;
    height: 50px;
    width: 100%;
  
}
.pos-float-child-4{
    background-color:yellowgreen;
    height: 50px;
    width: 100%;
    clear: both;/*va a limpiar todo lo que haya arriba ya sea
    flotante o no y el padre respeta a la caja 4
    porque no es float, por eso tiene el mismo tamaño que
    la caja 4*/
}
.pos-float-child-5{
    background-color:rosybrown;
    height: 50px;
    width: 33%;
    float: right;
  
}

.pos-float-child-2-1{
    background-color: #ddd;
    height: 25px;
    width: 20%;
    float: right;
}
.pos-float-child-2-2{
    background-color: red;
    height: 25px;
    width: 20%;
}
/*Overflow - Gestión del desbordamiento del contenido*/
[class^="overflow-parent"]{
    width: 200px;
    height: 100px;
    border: 3px dashed black;
    margin-bottom: 150px;
}


.overflow-parent-1{
    overflow: hidden;/*Esconde el parrafo y ya no se desborda*/
}
.overflow-parent-2{
    overflow: visible;/*se va a ver fuera del contenedor*/
}
.overflow-parent-3{
    overflow: scroll;/*Si quieres que no se vea entero el contenido*/
}
/*Tamaño de cajas (Box-sizing)*/
.box-sizing-parent{
    width: 200px;
    height: 200px;
    border: 10px solid goldenrod;
}
.box-sizing-child{
    width: 100%;/*el contenido te lo respeta pero los bordes no y se sobre sale*/
    height: 50px;
    background-color: gray;
    border: 10px solid darkolivegreen;
    box-sizing: content-box;
    /*Es el valor por defecto,
    el tamaño que nosotros especifiquemos (width:200%) no va a tener
    encuenta el borde hacia afuera, solo el contenido (el
    color gris), su ancho real va a ser más que el 100% del padre*/
}
.border-box{
    margin-top: 10px;
    box-sizing: border-box;
    /*si se quiere contar los bordes también, se tiene
    que poner la propiedad box-sizing: border-box;*/
}